{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <div class="main">
        <nav>
            <div class="logo">WEB DEV</div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">GALLERY</a></li>
                <li><a href="#">COURSES</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">LOGIN</a></li>
                <li><a href="#">SIGNIN</a></li>
            </ul>
        </nav>
    </div>
    <div class="slider">
        <div class="title">
            <h1>We believe greate design<br>make great business</h1>
            <p>
                professioal creativity vlean featured website templates for your business.lets start an awesome project now.
            </p>
            <a href="#">GET MORE</a>
            <a href="#">PURCHASE NOW</a>
        </div>
    </div>
</div>
</body>
</html>